<main>
    <div class="flex flex-wrap">
        <p-button icon="pi pi-arrow-left
      " routerLink="/pessoas" pTooltip="Lista Pessoas" tooltipPosition="right"></p-button>
    </div>
    <h1>Pessoa Cadastro</h1>

    <div class="flex flex-wrap">
        <h6>Nome</h6>
        <div class="col-12 md:col-6 lg:col-3">
            <input class="w-full" type="text" pInputText>
        </div>
        <h6>Nome</h6>
        <div class="col-12 md:col-6 lg:col-3">
            <input class="w-full" type="text" pInputText>
        </div>
        <h6>Nome</h6>
        <div class="col-12 md:col-6 lg:col-3">
            <input class="w-full" type="text" pInputText>
        </div>
        <h6>Nome</h6>
        <div class="col-12 md:col-6 lg:col-3">
            <input class="w-full" type="text" pInputText>
        </div>
        <h6>Nome</h6>
        <div class="col-12 md:col-6 lg:col-3">
            <input class="w-full" type="text" pInputText>
        </div>
    </div>
</main>